html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.avatar-container {
    margin: 0px 500px 0px 0px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-links {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}