html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(129deg, rgba(147, 253, 232, 0.5998774509803921) 34%, rgba(147, 165, 253, 1) 70%);
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    height: 10vh;
    min-height: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: color-mix(in srgb, white, transparent 80%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.avatar-container {
    flex: 2 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-right: 10vw;    
}

.contact-links,
.sections-links {
    display: flex;
    font-size: 1.7rem;
    font-weight: 700;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;
}

.contact-links {
    width: 10vw;
}

.sections-links {
    width: 30vw;
}

.contact-links a,
.sections-links a {
    text-decoration: none;
    position: relative;
}

.contact-links li a svg {
    height: 50px;
    min-height: 50px;
    max-width: 50%; 
    min-width: 25px;
}

.contact-links a:hover,
.sections-links a:hover {
    cursor: pointer;
}

.contact-links a::before,
.sections-links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 1s ease-out;
}

.contact-links a:hover::before,
.sections-links a:hover::before {
    width: 100%;    
}